// This is where you paste in your midterm css. When you move CSS out of here to partial files, make sure to delete it from here so it is not in two places.
// ---------------
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	width:100%;
	margin: 0 auto;
	border:1px solid #666;
	padding:0 2%;
	background: #000;
}
h1{
	color:#fff;
	font-size: 2.5em;
	line-height: 1.2;
  text-align: center;
}
h2{
  color:#fff;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}
h3{
	font-size: 1em;
}
h4{
  color:#fff;
  font-size: 1.6em;
  line-height: 1.2;
  text-align: center;
}
h5{
  color:#fff;
  font-size: 1.6em;
  line-height: 1;
  text-align: center;
}
h6{
  color:#fff;
  font-size: 1.2em;
  line-height: 1;
  text-align: right;
}
img,video{ 
	width:auto;
	max-width: 60%;
	height: auto;
  border-radius: 100%;

}
p{
	font-size: 1em;
	line-height: 1.7;
  text-align: left;
}
ul{
  list-style-type: none;
}

.track{
	width:90%;
	background-color: #fff
}
.session{
	width: 100%;
	padding:10%;
	background: #cc0000;
	margin:5% auto;
	text-align: center;

}
.presenter{
	width: 100%;
	color: #fff;
  text-align: right;

}

/* =====================================
   CSS for <iframe> embedded element
   ===================================== */
.mapWrapper {
    position: relative;
    padding-bottom: 66.6666667%; 
    /* 
    do math with the height of your iframe divided by the width, then converted to percent
    in this example the height is 400 and the width is 600
    400 / 600 = .66666667 
    which is 66.6666667% */
    height: 0;
}
.mapWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* =====================================
   CSS for <iframe> embedded element
   ===================================== */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /* if your video is 4:3 ratio then use the padding-bottom below:*/
    /*padding-bottom: 75%;*/ /* 4:3 */
  
    padding-top: 25px; /* may need to adjust depending on the size of the player controls of the service you use */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ============================
* NAVIGATION 
* Modified from: http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/a-simple-responsive-mobile-first-navigation/
* =============================*/  
  
#main_nav{
  clear:both;
}  

#main_nav ul{
  list-style: none;
}

#main_nav li a{
  display:block;
  color:#fff;
  background-color: #555;
  text-transform: uppercase;
  padding: 0.625em; /* 10/16 */
  text-decoration:none;
  border-bottom: 1px solid #eee;
  font-weight:900;
}

#main_nav li a:hover{
  color:#555;
  background-color: #fff;
}
  
#main_nav li a:active{
  color:#555;
  background-color: #f90;
}  

/* menu button */
.menu a{
  padding:0.5em 0.625em; /*10/16 */
  background-color: #555;
  border-radius:5px;
  color: #fff;
  text-decoration:none;
}

.menu a:hover{
  color:#555;
  background-color: #f90;
}
 
.menu{
  margin-bottom:1em;
}

/* ==========================
*  Media Queries for Main Nav
*  ========================== */
/* these don't have to be separate. We did so for two reasons:
1. Easy to copy and paste this into new design
2. Depending on your site you may need separate break points for the nav. You may want to see what width is needed to fit your nav horizontally without breaking and use that as the breakpoint. 

It should also be noted that there is only one media query because this CSS moves the nav to the top where it can stay for all of the other sizes.
*/

/* 656 / 16 */
@media only screen and (min-width:42.75em) {
	/* hide the menu button */
  .menu{
	  display:none;
  }
  
/* move main_nav to top of the screen */
  #main_nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
   overflow:hidden;
    background-color: #555;
  }
  
  #main_nav li{
    display:inline;
    line-height:1em;
  }
  #main_nav li a{
    float:left;
    padding: 0.9375em; /* 10/16  and  15/16 */
    border-bottom: none;
  }
  
/* hide the link to top in the nav */
  #main_nav li a.top{
    display: none;
  }
  
 /* move the rest of the page down accordingly */
  .container{
   margin-top: 3.75em;  /*60 / 16 */ 
  }
    
} /* end min-width:30.0625em */





/*ABOUT STYLES*/



#about .session{
  width: 100%;
  height: 40%;
  padding:5%;
  background: #cc0000;
  margin:5% auto;


}
#about .date{
  
 
  
  background: #666;
  margin: auto;
  text-align: center;
  

}
#about .time{
  
  background: #666;
  margin: auto;
  
}
#about .presenter{
  width: 100%;
  color: #fff;

}
#about .about{
  background-color: #cc0000;
  padding: 30px;

}








